server:
  port: ${PORT:8080}

spring:
  datasource:
    url: ${MYSQL_URL:jdbc:mysql://localhost:3306/aqwarium?createDatabaseIfNotExist=true}
    username: ${MYSQL_USER:root}
    password: ${MYSQL_PASSWORD:1234}

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true